header {

    li {
        display: inline-block;
        margin: 8px 16px;
        font-size: 20px;
        text-transform: capitalize;
    }

    .active-nav{
        color: #f00;
        text-decoration: overline;
    }
}
