.card {
    width: 200px;
    min-height: 100px;
    padding: 12px;
    text-align: center;
    border: 1px solid rgb(184,191,222);
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 5px;
    margin: 8px auto;
}